click
docx
docx2txt
keras
Keras-Preprocessing
matplotlib
pafy
palettable
pandas
pathy
patsy
pyresparser
resume-parser
scikit-learn
srsly
statsmodels
stemming
streamlit
streamlit-aggrid
streamlit-lottie
streamlit-option-menu
streamlit-tags
tensorflow
pyparsing 
st_aggrid.shared 
base64
random
time
datetime 
pdfminer3 
PIL
pyodbc
pafy
plotly 
spacy
st_aggrid
